{% extends "_layout_fomantic.html" %}

{% block content %}
<main class="ui segment">
<h4>Change Password</h4>
<p>iKnowAll recommends you change your password once every 3 months.</p>
<form class="ui form info" method="post" action="/user/password/change">

  <div class="field">
    <label>Old Password</label>
    <input type="password" name="old_password" id="old_password" placeholder="Old password" autofocus />
  </div>

  <div class="field">
    <label>New Password</label>
    <input type="password" name="new_password" id="new_password" placeholder="New password" />
    <div class="ui info message">
    <p>Your password should contain at least 7 characters with one uppercase letter and one numeric character.</p>
    </div>
  </div>

  <button class="ui button" type="submit">Submit</button>
</form>
</main>
{% endblock %}