{% extends "_layout_fomantic.html" %}

{% block content %}
<h2>Reset Password</h2>

<div class="ui message">
<p>Forgot your password? Enter your email to reset it.</p>
</div>

<div class="ui segment">

<form class="ui form" method="post" action="/password/forgot">

  <div class="field">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Email" style="max-width: 300px;">
  </div>

  <button class="ui button" type="submit">Submit</button>
</form>

</div>
{% endblock %}