{% extends "_layout_fomantic.html" %}

{% block head %}
<!-- G RECAPTCHA V3 -->
<script src="https://www.google.com/recaptcha/api.js?render={{ g_recaptcha_site_key }}"></script>
<script src="https://accounts.google.com/gsi/client" async></script>
{% endblock %}

{% block content %}
<div x-data="main" class="ui segment">
<h1>Register</h1>
<form class="ui form info" name="register" method="post" action="/register">

  <input x-ref="recaptchaToken" type="hidden" name="g_recaptcha_token" />

  <div class="field">
    <label for="username" >Username</label>
    <input type="text" name="username" id="username" placeholder="Username" />
    <div class="ui info message">
    <p>Username consists of at least 5 alphanumeric characters with no spaces and no special characters</p>
    </div>
  </div>

  <div class="field">
    <label for="email" >Email</label>
    <input type="email" name="email" id="email" placeholder="Email" />
    <div class="ui info message">
    <p>Please enter the email address you want to  associate with your account</p>
    </div>
  </div>

  <div class="field">
    <label for="email" >Password</label>
    <input type="password" name="password" id="password" placeholder="Password" />

    <div class="ui info message">
      <p>Your password should contain at least 7 characters with one uppercase letter and one numeric character.</p>
    </div>
  </div>

  <div id="g_id_onload"
      data-client_id="{{ g_oauth_client_id }}"
      data-context="signup"
      data-ux_mode="redirect"
      data-login_uri="{{ g_oauth_redirect_uri }}"
      data-auto_prompt="false">
  </div>

  <div class="g_id_signin"
      data-type="standard"
      data-shape="rectangular"
      data-theme="outline"
      data-text="signup_with"
      data-size="large"
      data-logo_alignment="left">
  </div>

  <button @click="mitigateRegister()" class="ui button" type="button">Submit</button>

</form>
</div>
{% endblock %}


{% block script %}
<script defer>

  /* RECAPTCHA */
  const gRecaptchaSiteKey = "{{ g_recaptcha_site_key }}";

  document.addEventListener('alpine:init', () => {

  Alpine.data('main', () => ({
    // items: ['apple','pear'],
    // async pushOrange() {
    //   await this.items.push('orange')
    // }
    /* When button is pressed */
    mitigateRegister() {
      /* RECAPTCHA MITIGATION - START */
      grecaptcha.ready(() => {
          grecaptcha.execute(gRecaptchaSiteKey, {action: 'submit'}).then((token) => {
            
              // Add your logic to submit to your backend server here.
              this.$refs.recaptchaToken.value = token

              // Submit form
              document.forms['register'].submit();
              
          });
      });
      /* RECAPTCHA MITIGATION - END */
    },
  }))
})
</script>
{% endblock %}