{% extends "_layout_fomantic.html" %}

{% block content %}
<h4>Reset Password</h4>
<div class="ui message">
<p>Please enter your new password</p>
</div>
<form class="ui form info" method="post" action="/password/reset">

  <input type="hidden" name="token" value="{{ token }}" />
  <input type="hidden" name="selector" value="{{ selector }}" />

  <div class="field">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Password" style="max-width: 300px;">
    <div class="ui info message">
    <p>Your password should contain at least 7 characters with one uppercase letter and one numeric character.</p>
    </div>
  </div>

  <button class="ui button" type="submit">Submit</button>
</form>
{% endblock %}