{% extends "_layout_fomantic.html" %}

{% block content %}
<div class="ui container">
    <h2 class="ui header">Search for Available Rooms</h2>
    <form class="ui form" id="searchForm">
        <div class="field">
            <label>Check-in Date</label>
            <input type="date" name="check_in_date" required>
        </div>
        <div class="field">
            <label>Check-out Date</label>
            <input type="date" name="check_out_date" required>
        </div>
        <div class="field">
            <label>City</label>
            <input type="text" name="city" placeholder="Enter city" required>
        </div>
        <button class="ui blue button" type="submit">Search</button>
    </form>
    <div class="ui divider"></div>
    <div id="searchResults" class="ui cards"></div>
</div>
{% endblock %}

{% block script %}
<script>
    const API_LIST = '/api/list.php'

    document.addEventListener('alpine:init', () => {

        Alpine.data('main', () => ({
            async list() {
                $.toast({ message: 'Fetching list..' });

                let r = await axios.get(API_LIST)

                if (r.data.message == 'success') {
                    this.rows = r.data.rows
                    $.toast({ class: 'success', message: `${r.data.rows.length} row(s) found` });
                }
            },
        }))
    })

</script>
{% endblock %}