{% extends "_layout_admin.html" %}

{% set title = 'Edit Api Article - Files' %}

{% block head %}
<link rel="stylesheet" href="/css/dropzone.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/filesize/9.0.11/filesize.min.js"></script>


<style>
  .file-upload {
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
  }
</style>
{% endblock %}

{% block content %}
<!-- BREADCRUMBS -->
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/framework">Home</a></li>
    <li><a href="/framework/admin/main">Admin</a></li>
    <li><a href="/framework/admin/main">Articles</a></li>
    <li><a href="#" aria-current="page">Article: {{ article.title }}</a></li>
    <li class="is-active"><a href="#" aria-current="page">Files</a></li>
  </ul>
</nav>

<main x-data="main" data-files="{{ files|json_encode|e }}" data-article="{{ article|json_encode|e }}" class="my-3">

  <!-- DEBUG: START -->
  <article>
    <div class="mb-4">
      <div class="title is-6">Article:</div>
      <div x-text="JSON.stringify(article)"></div>
    </div>

    <div class="mb-4">
      <div class="title is-6">Uploader Files:</div>
      <div x-text="JSON.stringify(files)"></div>
    </div>

    <div class="mb-4">
      <div class="title is-6">Uploaded Items:</div>
      <div x-text="JSON.stringify(items)"></div>
    </div>
  </article>
  <!-- DEBUG: END -->

  <!-- ARTICLE FILES -->
  <table class="table is-bordered">
    <thead>
      <tr>
        <th colspan="2">Article Files</th>
      </tr>
      <tr>
        <th>Filename</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <template x-for="i in articleFiles">
    <tr>
      <td x-text="i"></td>
      <td>
        <a @click="removeFile(i)">Remove</a>
      </td>
    </tr>
  </template>
    </tbody>
  </table>

  <!-- UPLOADER -->
  <div class="flex flex-col flex-grow mb-3">

    <div id="FileUpload" class="is-relative p-6 has-background-grey-lighter" style="border: 3px dashed #ddd;">

      <input type="file" multiple class="file-upload"
        x-on:change="files = $event.target.files; uploadAll($event.target.files);"
        x-on:dragover="$el.classList.add('active')" x-on:dragleave="$el.classList.remove('active')"
        x-on:drop="$el.classList.remove('active')">
      <template x-if="files !== null">
        <div class="flex flex-col space-y-1">
          <template x-for="(_,index) in Array.from({ length: files.length })">
            <div class="flex flex-row items-center space-x-2">
              <template x-if="files[index].type.includes('audio/')"><i class="far fa-file-audio fa-fw"></i></template>
              <template x-if="files[index].type.includes('application/')"><i
                  class="far fa-file-alt fa-fw"></i></template>
              <template x-if="files[index].type.includes('image/')"><i class="far fa-file-image fa-fw"></i></template>
              <template x-if="files[index].type.includes('video/')"><i class="far fa-file-video fa-fw"></i></template>
              <span class="font-medium text-gray-900" x-text="files[index].name">Uploading</span>
              <span class="text-xs self-end text-gray-500" x-text="filesize(files[index].size)">...</span>
            </div>
          </template>
        </div>
      </template>
      <template x-if="files === null">
        <div class="is-flex is-flex-direction-column space-y-2 items-center justify-center">
          <i class="fas fa-cloud-upload-alt fa-3x text-currentColor"></i>
          <p class="has-text-centered my-2 has-text-black">Drag your files here or click in this
            area.</p>
          <div class="has-text-centered">
            <a href="javascript:void(0)" class="button is-primary">Select
              a file</a>
          </div>
        </div>
      </template>
    </div>
  </div>


</main>

{% endblock %}


{% block script %}
<script defer>

  document.addEventListener('alpine:init', () => {

    Alpine.data('main', () => ({
      files: null, // For uploader
      items: [],
      article: null,
      articleFiles: [],
      init() {
        this.loadArticle()
        this.loadArticleFiles()
      },
      loadArticleFiles() {
        let r = document.querySelector('[data-files]');
        this.articleFiles = JSON.parse(r.dataset.files)
      },
      loadArticle() {
        let r = document.querySelector('[data-article]');
        this.article = JSON.parse(r.dataset.article)
      },
      async removeFile(filename) {

        let formData = new FormData()
        formData.append('filename', filename)

        let r = await axios.post(`/framework/admin/article/${this.article.id}/files/remove`, formData)

        console.log(r)

        let index = this.articleFiles.indexOf(filename)
        this.articleFiles.splice(index, 1)

        bulmaToast.toast({ message: `File removed: ${filename}` })

      },
      /* Uploads multiple files determined by PHP Max Upload Size Per Post */
      async uploadAll(files) {

        let filesArray = Array.from(files);
        filesArray.forEach((file) => {
          // toaster.pop({ message: `Uploading ${file.name} ..`, class: 'blue' })
          bulmaToast.toast({ message: `Uploading ${file.name} ..` })
        })

        let formData = new FormData()

        filesArray.forEach((file, index) => {
          formData.append('file[]', file, file.name)
        })

        let r = await axios.post(`/framework/admin/article/${this.article.id}/files/upload`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })

        if (r.data.error) {
          // toaster.pop({ message: r.data.message, class: 'red' })
          bulmaToast.toast({ message: r.data.message })
        }

        if ('files' in r.data) {
          r.data.files.forEach(i => {

            this.items.push(i)
            this.articleFiles.push(i.filename)
          })
        }
      }
    }))
  })
</script>
{% endblock %}