{% extends "_layout_admin_fomantic.html" %}

{% block content %}
<div class="ui container">
    <h2 class="ui dividing header">Flight Booking Dashboard</h2>

    <div class="ui segment">
        <h3 class="ui header">Bookings Overview</h3>
        <div>
            <a href="/framework/admin/flight-bookings/add-booking" class="ui primary button">Add New Booking</a>
        </div>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Booking ID</th>
                    <th>Passenger Name</th>
                    <th>Flight</th>
                    <th>Seat Class</th>
                    <th>Total Amount</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td>{{ row.booking_id }}</td>
                    <td>User Id: {{ row.customer_id }}</td>
                    <td>Flight Id: {{ row.flight_id }}</td>
                    <td>{{ row.seat_class }}</td>
                    <td>{{ row.total_amount }}</td>
                    <td>{{ row.status }}</td>
                    <td>
                        <div class="ui buttons">
                            <a href="/framework/admin/flight-bookings/booking-details" class="ui button">View</a>
                            <a href="/framework/admin/flight-bookings/modify-booking" class="ui button">Modify</a>
                            <a href="/framework/admin/flight-bookings/cancel-booking" class="ui button">Cancel</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                <!-- <tr>
                    <td>FL-201</td>
                    <td>Alice Johnson</td>
                    <td>Flight AI-101</td>
                    <td>2024-09-25</td>
                    <td>2024-09-26</td>
                    <td><div class="ui green label">Confirmed</div></td>
                    <td>
                        <div class="ui buttons">
                            <button class="ui button">View</button>
                            <button class="ui button">Edit</button>
                            <button class="ui button">Cancel</button>
                        </div>
                    </td>
                </tr> -->
              
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const API_LIST = '/api/list.php'

    document.addEventListener('alpine:init', () => {

        Alpine.data('main', () => ({
            async list() {
                $.toast({ message: 'Fetching list..' });

                let r = await axios.get(API_LIST)

                if (r.data.message == 'success') {
                    this.rows = r.data.rows
                    $.toast({ class: 'success', message: `${r.data.rows.length} row(s) found` });
                }
            },
        }))
    })

</script>
{% endblock %}