{% extends "_layout_admin.html" %}

{% set title = 'Inbox Messages' %}

{% block content %}
<section x-data="main" x-cloak>

    <!-- MODAL -->
    <div class="modal" :class="showModalAdd?'is-active':''">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add new message</p>
                <button @click="showModalAdd = false" class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <!-- FORM -->

                <form name="addArticle" action="/framework/admin/inbox/message" method="post" class="w-full">

                    <div class="field">
                        <label class="label">Message Title</label>
                        <div class="control">
                            <input class="input" type="text" name="title" placeholder="Text input">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Markdown Body</label>
                        <div class="control">
                            <textarea class="textarea" name="markdown_content"></textarea>
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button onclick="submit()" type="button" class="button is-success">Submit</button>
                <button @click="showModalAdd = false" class="button">Cancel</button>
            </footer>
        </div>
    </div>


    <!-- TOOLBAR -->
    <div class="field is-grouped">
        <p class="control is-expanded">
            <input x-model="search" type="text" class="input" placeholder="Search..." required />
        </p>
        <p class="control">
            <button @click="showModalAdd = true" class="button">Add Message</button>
        </p>
    </div>

    <!-- TABLE -->
    <table class="table">
        <thead>

            <tr>
                <th>
                    Id
                </th>
                <th>
                    Message
                </th>
                <th>
                    Tags
                </th>
                <th>
                    Date
                </th>
                <th>
                    <span class="sr-only">Actions</span>
                </th>
            </tr>

        </thead>
        <tbody>
            <template x-for="row in filteredList()">
                <tr>
                    <td x-text="row.id">
                    </td>
                    <td x-text="row.title">
                    </td>
                    <td>
                        <template x-if="row.tags">
                            <div class="tags">
                                <template x-for="tag in row.tags.split(',')">
                                    <span class="tag is-dark" x-text="tag"></span>
                                </template>
                            </div>
                        </template>
                    </td>
                    <td x-text="row.updated_at"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a :href="`/framework/admin/inbox/message/${ row.id }/preview`"
                                class="text-blue-600 dark:text-blue-500 hover:underline mr-3">Preview</a>
                            <a :href="`/framework/admin/inbox/message/${ row.id }`"
                                class="text-blue-600 dark:text-blue-500 hover:underline mr-3">Edit</a>
                            <a :href="`/framework/admin/inbox/message/${ row.id }/delete`"
                                class="text-blue-600 dark:text-blue-500 hover:underline mr-3">Delete</a>
                        </div>
                    </td>

                </tr>
            </template>
        </tbody>
    </table>

</section>
{% endblock %}

{% block script %}
<script>
    function submit() {
        document.forms["addArticle"].submit();
    }

    document.addEventListener('alpine:init', () => {

        Alpine.data('main', () => ({
            search: '',
            showModalAdd: false,
            rows: {{ rows | json_encode | raw }},
        filteredList() {
        return(this.rows).filter((i) => i.title.toLowerCase().includes(this.search.toLowerCase()))
        }
    }))
})
</script>
{% endblock %}