{% extends "_layout_admin_fomantic.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
{% endblock %}

{% block content %}

<main x-data="main()">

    <div class="ui breadcrumb">
        <a href="/framework/admin" class="section">Admin</a>
        <i class="right angle icon divider"></i>
        <a href="/framework/admin/amadeus/main" class="section">Amadeus Module</a>
        <i class="right angle icon divider"></i>
        <a href="/framework/admin/amadeus/flights/main" class="section">Flight Api</a>
        <i class="right angle icon divider"></i>
        <div class="active section">Airport Routes</div>
    </div>

    <h2 class="ui header">Airport Routes</h2>

    <div class="ui message">"Fetch Data" will update the local DB with the latest information.</div>

    <!-- TABLE -->
    <table class="ui table">
        <thead>
            <tr>
                <th colspan="5">
                    <button id="export" @click="exportAsJson()" class="ui button">Export as JSON</button>
                </th>
            </tr>
            <tr>
                <th>Type</th>
                <th>SubType</th>
                <th>Name</th>
                <th>IATA Code</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
        <!-- ROW -->
         <template x-for="i in rows">
        <tr>
            <td x-text="i.type"></td>
            <td x-text="i.subtype"></td>
            <td x-text="i.name"></td>
            <td x-text="i.iataCode"></td>
            <td x-text="i.address.countryName"></td>
        </tr>
        </template>
        </tbody>
    </table>
</main>
{% endblock %}

{% block script %}
<script>
    const API_FETCH_AMADEUS_AIRPORT_ROUTES = '/modules/amadeus/api/flights/airport_routes.php'

    document.addEventListener('alpine:init', () => {

        Alpine.data('main', () => ({
            rows: [],
            init() {
                this.list();
            },
            async list() {

                $.toast({ message: 'Fetching list..' });

                let r = await axios.get(API_FETCH_AMADEUS_AIRPORT_ROUTES)

                if (r.data.message == 'success') {
                    this.rows = r.data.results.data
                    $.toast({ class: 'success', message: `${r.data.results.data.length} row(s) found` });
                }
            },
            exportAsJson() {

                let clipboard = new ClipboardJS('#export', {

                    text: (trigger) => {
                        return JSON.stringify(this.rows)
                    }
                });

                clipboard.on('success', (e) => {

                    $.toast({ class: 'success', message: 'Copied to clipboard!' }); 
                });
            }
        }))
    })

</script>
{% endblock %}