{% extends "_layout_fomantic.html" %}

{% block content %}
<div class="ui main text container" style="margin-top: 2em; margin-bottom: 2em;">
  <h1 class="ui header">Now with UserInbox</h1>
    <h1 class="ui header">
      <a href="https://github.com/lewweiming/fomantic-ui/tree/main/crud-templates">CRUD Supported</a>
    </h1>
    <p>This is a basic fixed menu template using fixed size containers.</p>
    <p>A text container is used for the main container, which is useful for single column layouts</p>
    <div class="ui placeholder">
        <div class="image header">
            <div class="line"></div>
            <div class="line"></div>
        </div>
        <div class="paragraph">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
</div>
{% endblock %}