{% extends "_layout.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<link rel="stylesheet" href="/css/markdown.css" />
{% endblock %}

{% block content %}
<section class="my-4">

<div class="markdown markdown-body">
# Templates

## Hammer Principle

[View Template](/assets/templates/hammer_principle.html)
</div>

</section>
{% endblock %}

{% block script %}
<script>
let collection = document.getElementsByClassName('markdown')
let nodes = Array.from(collection)
nodes.forEach(el => {
    el.innerHTML = marked.parse(el.innerHTML)
})
</script>
{% endblock %}