<section class="section">
    <div class="container">
        <hr />
        <div class="columns mb-6">
            <div class="column is-one-third">
                <div class="subtitle is-3 has-text-weight-bold">MaxiiBikes</div>
                <div>The eBike Renting Platform.</div>
            </div>
            <div class="column">
                <div class="subtitle is-5 has-text-weight-bold">Features</div>
                <div>Cool stuff</div>
                <div>Random feature</div>
                <div>Team feature</div>
                <div>Stuff for developers</div>
                <div>Another one</div>
                <div>Last time</div>
            </div>
            <div class="column">
                <div class="subtitle is-5 has-text-weight-bold">Features</div>
                <div>Cool stuff</div>
                <div>Random feature</div>
                <div>Team feature</div>
                <div>Stuff for developers</div>
                <div>Another one</div>
                <div>Last time</div>
            </div>
            <div class="column">
                <div class="subtitle is-5 has-text-weight-bold">Features</div>
                <div>Cool stuff</div>
                <div>Random feature</div>
                <div>Team feature</div>
                <div>Stuff for developers</div>
                <div>Another one</div>
                <div>Last time</div>
            </div>
        </div>
    </div>
</section>