{% extends "_layout_fomantic.html" %}

{% block content %}
<main x-data="main()">

  <!-- BREADCRUMBS -->
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <i class="right angle icon divider"></i>
    <a href="/modules/shop" class="section">Shop</a>
    <i class="right angle icon divider"></i>
    <div class="active section">Checkout: Delivery Details</div>
  </div>

  
  <!-- STEPPER -->
  <div class="ui ordered fluid steps">

    <a href="/modules/shop/checkout/personal-details" class="completed step">
      <div class="content">
        <div class="title">Personal Details</div>
        <div class="description">Enter your details</div>
      </div>
    </a>

    <div class="active step">
      <div class="content">
        <div class="title">Delivery Details</div>
        <div class="description">Enter delivery details</div>
      </div>
    </div>

    <div class="disabled step">
      <div class="content">
        <div class="title">Review & Payment</div>
        <div class="description">Review booking and complete your payment</div>
      </div>
    </div>

  </div>

  <!-- Customer Details -->
  <div class="ui segment">
    <form method="post" action="/modules/shop/checkout/delivery-details" class="ui form">

      <!-- Delivery Information -->
      <h4 class="ui dividing header">Delivery Information</h4>
      <div class="required field">
        <label>Address</label>
        <input x-model="input.address" type="text" name="address" placeholder="Street Address">
      </div>
      <div class="required field">
        <label>City</label>
        <input x-model="input.city" type="text" name="city" placeholder="City">
      </div>
      <div class="field">
        <label>State/Province</label>
        <input x-model="input.state" type="text" name="state" placeholder="State/Province">
      </div>
      <div class="required field">
        <label>Country</label>
        <input x-model="input.country" type="text" name="country" placeholder="Country">
      </div>
      <div class="required field">
        <label>Postal Code</label>
        <input x-model="input.postalCode" type="text" name="postalCode" placeholder="Postal Code">
      </div>

      <button class="ui primary button" type="submit">Continue</button>
    </form>
  </div>
</main>
{% endblock %}

{% block script %}
<script>
  $('.ui.form').form({
    fields: {
      address: 'empty',
      city: 'empty',
      state: 'empty',
      country: 'empty',
      postalCode: 'empty'
    }
  });
</script>

<script defer>
  document.addEventListener('alpine:init', () => {
    Alpine.data('main', () => ({
      input: {
        address: '123 Main St',
        city: 'Los Angeles',
        state: 'CA',
        country: 'USA',
        postalCode: '90001',
      }
    }))
  })
</script>
{% endblock %}
