{% extends "_layout_fomantic.html" %}

{% block head %}
<!-- SIMPLE MDE -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
{% endblock %}

{% block content %}
<div class="ui breadcrumb">
  <a href="/framework/admin" class="section">Admin</a>
  <i class="right angle icon divider"></i>
  <a href="/framework/admin/work-orders" class="section">Work Orders</a>
  <i class="right angle icon divider"></i>
  <div class="active section">Add</div>
</div>

<h2 class="ui header">Add New Work Order</h2>

<!-- VALIDATION ERRORS -->
{% if(errors) %}
<div class="ui warning message">
  <i class="close icon"></i>
  <div class="header">
    Validation Errors
  </div>
  <ul>
    {% for key, val in errors %}
    <li>{{ val[0] }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}

<form method="post" action="/framework/admin/work-orders/add" class="ui form">
  <p>Please fill in the work order details</p>

  <!-- Requestor -->
  <div class="required field">
    <label for="requestor">Requestor</label>
    <input type="text" id="requestor" name="requestor" placeholder="Enter your name">
  </div>

  <!-- Department -->
  <div class="required field">
    <label for="department">Department</label>
    <input type="text" id="department" name="department" placeholder="Enter the department">
  </div>

  <!-- Title -->
  <div class="required field">
    <label for="title">Title</label>
    <input type="text" id="title" name="title" placeholder="Enter the title">
  </div>

  <!-- Description -->
  <div class="required field">
    <label for="description">Description</label>
    <textarea id="simplemde-description" name="description" placeholder="Work order details"></textarea>
  </div>

  <!-- Priority -->
  <div class="required field">
    <label for="priority">Priority</label>
    <select class="ui dropdown" name="priority">
      <option value="Low">Low</option>
      <option value="Medium" selected>Medium</option>
      <option value="High">High</option>
    </select>
  </div>

  <!-- Status -->
  <div class="required field">
    <label for="status">Status</label>
    <select class="ui dropdown" name="status">
      <option value="Pending" selected>Pending</option>
      <option value="In Progress">In Progress</option>
      <option value="Completed">Completed</option>
      <option value="Rejected">Rejected</option>
    </select>
  </div>

  <!-- Date Submitted -->
  <div class="required field">
    <label for="date_submitted">Date Submitted</label>
    <div class="ui calendar" id="date_submitted_calendar">
      <div class="ui fluid input left icon">
        <i class="calendar icon"></i>
        <input type="text" name="date_submitted" placeholder="YYYY-MM-DD">
      </div>
    </div>
  </div>

  <button type="submit" class="ui button">Submit</button>
</form>

{% endblock %}

{% block script %}
<script>
  var simplemdeAddModal = new SimpleMDE({ element: $("#simplemde-description")[0] });
  var simplemdeEditModal;
</script>

<script>
  $('#date_submitted_calendar')
    .calendar({
      type: 'date',
      formatter: {
        date: 'YYYY-MM-DD'
      }
    });

/* FORM VALIDATION */
$(document).ready(function () {
    $('.ui.form').form({
        fields: {
            requestor: {
                identifier: 'requestor',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please enter the requestor\'s name'
                    }
                ]
            },
            department: {
                identifier: 'department',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please enter the department'
                    }
                ]
            },
            title: {
                identifier: 'title',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please enter a title'
                    }
                ]
            },
            description: {
                identifier: 'description',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please enter a description'
                    }
                ]
            },
            priority: {
                identifier: 'priority',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please select a priority'
                    }
                ]
            },
            status: {
                identifier: 'status',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please select the status'
                    }
                ]
            },
            date_submitted: {
                identifier: 'date_submitted',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'Please enter the date submitted'
                    }
                ]
            }
        }
    });
});
</script>
{% endblock %}