{% extends "_layout_fomantic.html" %}

{% block content %}
<div class="">
    <h2 class="ui header">Customer Request Details</h2>
  
    <div class="ui segment">
      <table class="ui celled table">
        <thead>
          <tr>
            <th colspan="2">
              <h3 class="ui header">Request ID: {{ request.id }}</h3>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Booking Reference:</strong></td>
            <td>{{ request.booking_ref }}</td>
          </tr>
          <tr>
            <td><strong>Booking Type:</strong></td>
            <td>{{ request.booking_type }}</td>
          </tr>
          <tr>
            <td><strong>Request Type:</strong></td>
            <td>{{ request.request_type|capitalize }}</td>
          </tr>
          <tr>
            <td><strong>Status:</strong></td>
            <td>
              <div class="ui label">{{ request.status|capitalize }}</div>
            </td>
          </tr>
          <tr>
            <td><strong>Reason:</strong></td>
            <td>{{ request.reason }}</td>
          </tr>
          <tr>
            <td><strong>Request Info:</strong></td>
            <td>{{ request.request_info }}</td>
          </tr>
          <tr>
            <td><strong>Manager Notes:</strong></td>
            <td>{{ request.manager_notes }}</td>
          </tr>
          <tr>
            <td><strong>Request Date:</strong></td>
            <td>{{ request.request_date|date("d M Y") }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <a href="/customer-support/my-requests" class="ui button">Return to My Requests</a>
              {% if request.status == 'pending' %}
                <a href="/customer-support/request-details/{{ request.id }}/cancel" class="ui red button">Cancel The Request</a>
              {% endif %}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
</div>
{% endblock %}
