<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset=utf-8>
  <title>X2F Filemanager</title>
  <link rel="stylesheet" href="/css/bulma.css"></style>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
  {% block head %}{% endblock %}
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar is-black" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <span class="title is-4 has-text-white has-text-weight-bold">X2F File Manager</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/" class="navbar-item">
        Home
      </a>

      <a href="/framework/admin/main" class="navbar-item">
        Admin
      </a>

    </div>

    <div class="navbar-end">
      <a class="navbar-item">
        Version 1.0.0
      </a>
      <div class="navbar-item">
        <div class="buttons">
          <a href="/framework/logout" class="button is-white">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<main>
  {% block content %}{% endblock %}
  </main>

  <!-- ADDITIONAL SCRIPTS -->
  <footer>
  {% block script %}{% endblock %}
  </footer>
</body>
</html>